/* CSS declarations go here */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* csstricks best practice :)

/*body {
    background: red;
}*/

body {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow: auto;

}

#graphiql {
    height: 100vh;
}

ul {
    list-style: none;
}
